.menu-root {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px;
  cursor: pointer;
  font-size: 14px;
}

.menu-link img {
  width: 22px;
}

/* MEGA MENU */
.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 800px;
  background: #fff;
  display: flex;
  padding: 20px;
  border: 1px solid #eee;
  z-index: 999;
}

/* COLUNA */
.mega-column {
  width: 200px;
  position: relative;
}

/* ITEM */
.mega-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 0;
}

/* SUBMENU */
.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
}

/* SUB ITEM */
.sub-item {
  padding: 5px 0;
  cursor: pointer;
}

.sub-item:hover {
  color: #f2762e;
}